@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:aquamarine">
    <strong><h1>Employee Mangement System</h1></strong>
    <p class="lead">See all the Details of Emplyee Present in the Organziation.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Employee System </h2>
        <p>
            Employees are hired to perform specific duties as per their specialization and previous experiences. 
            Management should know its employees well so as to extract the best out of them.
        </p>
        <p><a class="btn btn-default" href="https://www.managementstudyguide.com/knowing-your-employees-articles.htm">Learn more &raquo;</a></p>
    </div>
    
</div>